.card-body{
	margin: 20px;
}

body {
	padding-top: 60px;
}

#search-container{
	width: 750px;
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	padding: 20px 0;
	margin-left: -375px;
}

.active-cyan-2 input{
	background-color: transparent;
	padding: 20px;
	border: none;
}

.active-cyan-2 input:focus{
	outline: none;
}

.active-cyan-2 input::placeholder{
	color: #000;
}

.fa, .active-cyan-2 .fa {
	color: #4dd0e1;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #87CEFA;
  color: white;
  text-align: center;
}